<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="userInput" placeholder="Enter your text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>{{info}}:  </h4> <!-- {{ (prods | productFilter : userInput).length  }} -->
            </div>
        </div>


<table class="table table-bordered">
    <thead>
    <tr>
      <th><button class="btn btn-success" (click)="toggleImage()">{{showImage?"Hide Image":"Show Image"}}</button></th>
      <th>Product Name</th>
      <th>Product Code</th>
      <th>Date</th>
      <th>Price</th>
      <th>Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let prod of prods | productFilter : userInput '>
      <td><img [src]='prod.imageUrl' *ngIf="showImage" [style.width.px]="imageWidth"/></td>
      <li><a [routerLink]= "['/detail', prod.productId]"> <td style="color:magenta">{{prod.productName | customPipe }} </td> </a></li>
      <td>{{prod.productCode}}/td>
      <td>{{prod.releaseDate}}</td>
      <td [ngStyle]="{'background-color':prod.price<20?'tomato':'slateblue',
      'color':'white'}">{{prod.price}}</td>
      <td> <app-star-rating [rating]="prod.starRating"  (ratingClicked)="onDataRecive($event)" > </app-star-rating></td>
    </tr>
  </tbody>
  </table>

  </div>
</div>