<div class="row">
        <div class="col-md-6">
            
            <table>
                <thead>
                    <th>
                       MUsic
                    </th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody >
                    <tr *ngFor="let music of allMusic" >
                     <td>
                            <table><tbody> <tr *ngFor="let artist of music.artists" (click)="dislay(artist.id)">
                                <td>   {{ artist.name }}
                                
                                <table><tbody> <tr *ngFor="let album of artist.albums">
                                        <td>  <li> {{ album.title }} </li> </td>
                                </tr></tbody></table>

                                </td>
                            </tr></tbody></table>
                     </td>   
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
                <table>
                        <thead>
                            <th>
                               Details
                            </th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody >
                            <tr>
                                <td>{{selectedMusic | json }}</td>
                                <td>
                                </td>
                                <td></td>
                                <hr/>
                            </tr>
                        </tbody>
                    </table>
        </div>
    </div>

<!--
<div *ngFor = "let music of allMusic">
        <div class="media">
            <div class="media-body">
              <h4 class="media-heading">{{music.name}}</h4>
              <p>{{music.bio}}</p>
              <button type="button" class="btn btn-info btn-lg"
                      data-toggle="modal" 
                      [attr.data-target]="'#'+ music.id">Details</button>
            </div>
          </div>
          <hr/>
    
   
            <div id="{{music.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
            
   
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{music.name}}</h4>
                    </div>
                    <div class="modal-body">
                    <p>{{music.bio}}</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            
                </div>
            </div>
    </div>
-->